body {
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body > h1 {
    background-color:rgb(171, 138, 138) ;
    color:rgb(255, 255, 255);
}

body > form > label {
    color:rgba(65, 82, 138);
}

body > p {
    color: rgb(47, 58, 77);
}

#guest_number{
    color: rgb(129, 83, 27);
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .event {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #617073;
    padding: 10px;
    margin:20px;
  }
  
  .event p, i{
    color: white;
    list-style: none;
    margin:3px;
  }
  
  h2 {
    color: lightgrey;
  }
  h3 {
    font-size: small;
  }
  
  h3, h4, h5 {
    margin: 5px;
    color:white;
  }