body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body > h1 {
    background-color:rgb(171, 138, 138) ;
    color:rgb(255, 255, 255);
}

body > form > label {
    color:rgba(65, 82, 138);
}

body > p {
    color: rgb(47, 58, 77);
}

#guest_number{
    color: rgb(129, 83, 27);
}