<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{title}} - Event List</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/events">All Events</a>
            </li>
        </ul>
    </nav>
    <hr><!-- horizontal line separating everything -->

    {% block content %}
        
    {% endblock content %}
<!-- use this base.html and everything else will be in the jblock -->
</body>
</html>